*.pyc
*.csv
*.log
*_test.png
.qudo/
.venv/
oldfiles/
debugger_output/
__pycache__/
defaults.txt
hsidata/*
savefiles/
logs/
benchmarks/*.png
benchmarks/*.txt
testingscripts/derivatives/*.png
testingscripts/derivativest2/*.png
